body { margin:0; font-family:Arial; }

.app { display:flex; height:100vh; }

.sidebar {
    width:250px;
    background:#0f172a;
    color:white;
    padding:20px;
}

.sidebar li {
    padding:10px;
    cursor:pointer;
}

.sidebar li:hover {
    background:#1e293b;
}

.main {
    flex:1;
    padding:20px;
    overflow:auto;
    background:#f1f5f9;
}

.section { display:none; }
.section.active { display:block; }

.card {
    background:white;
    padding:15px;
    margin:10px 0;
    border-radius:8px;
}
