<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LandChain Login</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="login-body">

<div class="login-box">
    <h1>LandChain</h1>
    <p>Blockchain Land Registry System</p>

    <input type="text" placeholder="Email">
    <input type="password" placeholder="Password">

    <select>
        <option>Admin</option>
        <option>Registrar</option>
        <option>Landowner</option>
        <option>Verifier</option>
        <option>Bank</option>
    </select>

    <button onclick="location.href='/dashboard'">Sign In</button>
</div>

</body>
</html>
