<!DOCTYPE html>
<html>
<head>
    <title>LandChain Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="login-body">

<div class="login-box">
    <h2>LandChain</h2>
    <p>Blockchain Land Registry System</p>

    <input type="text" placeholder="Email"><br>
    <input type="password" placeholder="Password"><br>

    <select>
        <option>Admin</option>
        <option>Registrar</option>
        <option>Landowner</option>
        <option>Verifier</option>
        <option>Bank</option>
    </select><br>

    <button onclick="login()">Sign In</button>
</div>

<script>
function login(){
    window.location.href = "/dashboard";
}
</script>

</body>
</html>
